/* ================ RESET & BASE ================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #000000;
    
}

/* ================ VARIÁVEIS CSS ================ */
:root {
    /* Cores principais */
    --primary-color: #4e73df;
    --secondary-color: #858796;
    --success-color: #1cc88a;
    --danger-color: #e74a3b;
    --warning-color: #f6c23e;
    --info-color: #36b9cc;
    --dark-color: #5a5c69;
    --light-color: #f8f9fc;

    /* Cores personalizadas */
    --cor-rosa: #ff69b4;
    --cor-azul-escuro: #1e3a8a;

    /* Espaçamentos */
    --spacing-xs: 0;}